# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

pre-trained/*
simulation/__pycache__
datasets/__pycache__
datasets/partitioners/__pycache__
evaluation/__pycache__
federated_learning/__pycache__
federated_learning/client/__pycache__
federated_learning/client/update/__pycache__
models/__pycache__
models/backbones/__pycache__
models/efficientnet_pytorch_3d/__pycache__
models/fusion/__pycache__
models/heads/__pycache__